
 /* Style the video: 100% width and height to cover the entire window */
 #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
/* Add some content at the bottom of the video/page */
.content {
    position: fixed;
    bottom: 0;
  
    background: url("image/bo-play.png");
    color: #f1f1f1;
    width: 100%;
    height: 100%;
    padding: 20px;
  }


  
  /* Style the button used to pause/play the video */
#myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
  }
  
#myBtn:hover {
    background: #ddd;
    color: black;
  }


.navbar {
    background: rgba(0, 0, 0, 0.9);
    padding-right: 15px;
    padding-left: 15px;
    z-index: 999;
}

.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}

.nav-link {
    margin-right: 1em !important;
    border-radius: 10px;
    
   
}

.nav-link:hover {
    color: #FF6600 !important;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.6);
}

.navbar-collapse {
    justify-content: flex-end;
}

.dropdown-item.active, .dropdown-item:active {
    color: #fff !important;
    text-decoration: none;
    background-color: #363535 !important;
}

.dropdown-menu {
    background-color: #000;
}

.navbar-nav .dropdown-menu {
    position: static;
    background: black;
    color: white;
  }

.dropdown-item{
    color: #fff !important;
}


#aboutTitle {
    position: fixed;
   
    width: 100%;
    padding: 20px;
    color: #ddd;
    background:rgba(0, 0, 0, 0.7);
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  
   
}

#aboutCap {
    position: fixed;
    width: 100%;
    padding: 20px;
    color: #ddd;
    background:rgba(0, 0, 0, 0.7);
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: none;
    cursor: pointer;
}


#gallery {
    position: fixed;
    width: 100%;
    padding: 20px;
    color: #ddd;
    background:rgba(0, 0, 0, 0.7);
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: none;

}

.im1{
    background: url('image/about_gallery-engine.jpg');
    background-position: center;
    max-height: 50vh;
    border-radius: 10%;
   
}

.row{
    min-height: 50vh;
    
}

.im2{
    background: url('image/about_gallery-dealer.jpg');
    background-position: center;
    max-height: 50vh;
    border-radius: 5%;
}

.im3{
    background: url('image/about_gallery-service.jpg');
    background-position: center;
    max-height: 50vh;
    border-radius: 10%;
}

.kolom{
    margin: 1%;
    position: relative;
    filter: grayscale(100%);
}

.kolom:hover{
    margin: 1%;
    position: relative;
    filter: grayscale(0);
}

.kolom:hover p{
    margin: 1%;
    position: relative;
    display: block;
}

.kolom p{
    background:rgba(0, 0, 0, 0.7);
    /* position: absolute;
    bottom: 0; */
    display: none;
}




@keyframes zoom-in-zoom-out {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.1, 1.1);
    }
    100% {
      transform: scale(1, 1);
    }
  }


.clickText{
    cursor:pointer;
    animation: zoom-in-zoom-out 6s ease infinite;
}
.back{
    cursor:pointer;
  
}
.back u{
    cursor:pointer;
    text-decoration: none;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: black !important;
 }