body{
    background: url('image/formBg.jpg');
    background-size: cover;
    background-position: center;
}

.navbar {
  background: #000;
  padding-right: 15px;
  padding-left: 15px;
  
}

.navbar {
  background: rgba(0, 0, 0, 0);
  padding-right: 15px;
  padding-left: 15px;
}

.nav-link,
.navbar-brand {
  color: #fff;
  cursor: pointer;
}

.nav-link {
  margin-right: 1em !important;
  border-radius: 10px;
}

.nav-link:hover {
  color: #FF6600;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.6);;
}

.navbar-collapse {
  justify-content: flex-end;
}

.dropdown-menu {
  background-color: #000;
}

.dropdown-item{
  color: #fff;
}
.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #363535;
}



.container{
    background-color:rgba(70, 69, 69, 0.59);
    padding: 5%;
    border-top-left-radius: 20% !important;
    border-bottom-right-radius: 20% !important;
    width: 65%;
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
}

.titleForm{
  font-weight: lighter;
  color: white;
  font-size: xxx-large;
}

label{

    font-size: larger;
}

form, input, label, p {
  color: white !important;
}

input{
  background-color: rgba(27, 27, 27, 0.719) !important;

}
option{
  background-color: rgba(27, 27, 27, 0.699) !important;
}

select{
  background-color: rgba(27, 27, 27, 0.699) !important;
  color: white !important;
}

#nameHelp{
  color: wheat !important;
}

.colType{
  display:block;
}

.colColors{
  display: block;
}

.form-control:focus {
  border-color: #d65c0a;
  box-shadow: 0 0 0 0.2rem rgba(199, 123, 10, 0.25);
} 

.btn{
    background-color: #FF6600;
    color: #fff;
    width: 40%;
}

#footer{
    bottom: 0;
    background-color: #000;
    height: 50vh;
    
}

.socialE li{
    float: left;
    list-style: none;
    margin: 3%;
  }

#logo{
    max-width: 120px;
    margin-top: 25%;
    margin-left: 25%;
    margin-bottom: 10%;
  }
  

  
.colContact{
    margin-top: 50px;
}


@media only screen and (max-width: 1036px) {
 

    #logo{
      max-width: 80px;
      
    }
  
  
}


@media only screen and (max-width: 978px) {

    #footer{
      height: 60vh;
    }
  
  }


@media only screen and (max-width: 768px) {
  
      #footer{
        height: 80vh;
      }
   
  
}
  
  



@media only screen and (max-width: 578px) {
   
    #footer{
      height: 110vh;
    }
  
    #logo{
      max-width: 60px;
      margin: 0;
      position: absolute;
      top: 1%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  
    }

    .socialE li{
        float: left;
        list-style: none;
        position: relative;
        left: 18%;
        top: 6vh;
      }
  
  
   
    .colAd{
      margin-left: 10%;
      width: 400px;
   
    }
    .colContact{
      margin-left: 10%;
      width: fit-content;
    }
  
}




@media only screen and (max-width: 300px) {
   
    #footer{
      height: 120vh;
    }
  

  .colContact{
    margin-top: 10px;
  }
  
  }